# Folders
node_modules/

# Files
*.exe
*.out
*.obj
*.o
*.json

# Archivos temporales de VS Code
.vscode/

# Otros
*.log
*.pyc
coding.code-workspace
java/Main.java
python/main.py
python/test.py
python/benchmark.py
