*.js

# Folders
node_modules/

# Files
*.exe
*.out
*.obj
*.o
*.json

# Archivos temporales de VS Code
.vscode/

# Otros
*.log
*.pyc
coding.code-workspace
java/Main.java
python/main.py
python/test.py
python/benchmark.py
/c++/programa
/.idea/Coding.iml
/.idea/misc.xml
/c++/result
/c++/validateB
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/python/.python-version
/python/pyproject.toml
/python/uv.lock
/python/README.md

TypeScript/NeetCode/Array & Hashing/test.ts
TypeScript/.idea/modules.xml
TypeScript/.idea/TypeScript.iml
TypeScript/.idea/vcs.xml
c++/.idea/c++.iml
c++/.idea/modules.xml
c++/.idea/vcs.xml
c++/.idea/workspace.xml
c++/NeetCode/stack/CarFleet_miSolucion.cpp
c++/NeetCode/stack/CarFleet
c++/NeetCode/stack/OnlineStockSpan
