# javascript files
*.js

# Folders
node_modules/

# Files
*.exe
*.out
*.obj
*.o
*.json

# Archivos temporales de VS Code
.vscode/

# Otros
*.log
*.pyc
coding.code-workspace
java/Main.java
python/main.py
python/test.py
python/benchmark.py
/c++/programa
/.idea/Coding.iml
/.idea/misc.xml
/c++/result
/c++/validateB
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/python/.python-version
/python/pyproject.toml
/python/uv.lock
/python/README.md
